body {
	font-family: Verdana, Arial;
	font-size: 12px;
	text-align: center;
}

div#main {
	margin: auto;
	text-align: left;
	width: 980px;
}

h1 {
	background: #5D7B9D;
	color: #ffffff;
	line-height: 70px;
	margin-bottom: 20px;
	text-align: center;
	
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-opera-border-radius: 0px 0px 10px 10px;
	-khtml-border-radius: 0px 0px 10px 10px;
}

table {
	clear: both;
	margin: 10px 0px;
	width: 100%;
}

th, td {
	height: 30px;
	padding: 0px 5px;
	vertical-align: middle;
}