<appconfig>
  <config httpport="81" tvserverhost="KWASISERV" thumbwidth="70" thumbheight="70" clientplayerpath="c:\program files\Videolan\VLC\vlc.exe" playertype="0" />
  <transcoders>
    <transcoder name="direct" usetranscoding="0" filename=" " args="" inputmethod="0" outputmethod="2" />
    <transcoder name="ts recordings to DIVX" usetranscoding="1" filename="c:\MEncoder\mencoder.exe" args="-ovc lavc -vf scale=320:200,harddup -ffourcc DX50 -oac mp3lame -o {1} {0}" inputmethod="0" outputmethod="0" />
    <transcoder name="mkv" usetranscoding="1" filename="c:\MEncoder\mencoder.exe" args="-acodec mpeg4aac -ar 48000 -ab 128k -vcodec mpeg4 -s 320x240 -aspect 4:3 -b 300 -qscale 10 -r 20 -f 3gp -o {1} {0}" inputmethod="0" outputmethod="0" />
    <transcoder name="test" usetranscoding="1" filename="C:\ffmpeg\bin\ffmpeg.exe" args="-vcodec xvid -b 300 -qmin 3 -qmax 5 -bufsize 4096 -g 300 -acodec aac -ab 96 -i {0} -s 320x240 -aspect 4:3 - -v 1" inputmethod="0" outputmethod="2" />
  </transcoders>
</appconfig>