<appconfig>
  <config httpport="81" tvserverhost="KWASISERV" thumbheight="70" thumbwidth="70" playertype="1" clientplayerpath="c:\program files\Videolan\VLC\vlc.exe" />
                                               
  <transcoders>
    <transcoder name="direct" usetranscoding="0" filename=" " args="" inputmethod="0" outputmethod="2" />
    <transcoder name="mencoder" usetranscoding="1" filename="c:\mencoder.exe" args="{0} -quiet -cache 8192 -oac lavc -of lavf -lavfopts format=dvd -ovc lavc -lavcopts vcodec=mpeg2video:vbitrate=4096:threads=2:acodec=ac3:abitrate=128 -ofps 24000/1001 -o {1}" inputmethod="0" outputmethod="0" />
    <transcoder name="ffmpeg" usetranscoding="1" filename="c:\ffmpeg\bin\ffmpeg.exe" args="-i {0} -f svcd - " inputmethod="0" outputmethod="2" />
  </transcoders>
</appconfig>